<!--https://getbootstrap.com/docs/4.1/content/tables/-->
<!--margin top and bottom-->
<div class = "text-center my-3">
    <h1>게시판입니다</h1>
</div>
<div class = "text-right">
    <a class="btn btn-primary" role="button" href = "/posts/new">글 쓰러가기</a>
</div>
<table class="table">
    <thread>
        <tr>
            <th scope="col">id</th>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
            <th scope="col">작성일자</th>
            <th scope="col">보기</th>
        </tr>
    <tbody>
        <% @posts.reverse.each do |p| %>
        <tr>
          <th scope="row"><%= p.id %></th>
          <td><%= p.title %></td>
          <td><%= p.body %></td>
          <td><%= p.created_at %></td>
          <td><a href = "posts/<%= p.id %>">링크</a></td>
        </tr>
        <% end %>
    </tbody>
        
    </thread>
</table>
